<ion-header>
  <ion-toolbar color="none">
    <ion-title>History</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goToDashboard()" color="primary">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center">
   <img src="https://blush.design/api/download?shareUri=b40uwzb7wctXne2m&w=800&h=800&fm=png" alt="Mindsy" class="ion-margin-top h-26">
  </div>
  <ion-card *ngIf="moods.length === 0">
    <ion-card-content>No mood entries found.</ion-card-content>
  </ion-card>
  <ion-list *ngIf="moods.length > 0">
    <ion-item *ngFor="let mood of moods" class="ion-margin-bottom" color="none">
      <ion-label>
        <h2>{{ mood.createdAt | date:'medium' }}</h2>
        <p>Mood Level: <strong>{{ mood.mood }}</strong></p>
        <p *ngIf="mood.note">Notes: {{ mood.note }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="deleteMood(mood._id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> 