// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$colors: (
  primary:    #6c63ff, // soft purple
  secondary:  #5ad2f4, // soft blue
  tertiary:   #b388ff, // light purple
  success:    #4dd599,
  warning:    #ffd166,
  danger:     #ff6b6b,
  dark:       #22223b,
  medium:     #9a8c98,
  light:      #f8f7ff
);
